include/workflows/first_prompt_generator_v2.json
{
  "name": "first_prompt_generator_v2",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -464,
        -16
      ],
      "id": "d24af8a6-f9a7-4537-b4b5-5f35a143fee1",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Prompt: {{ $json.prompt }}\n\n{{ $json.context !== 'None' ? 'Additional Context: ' + $json.context : '' }}\n\nTarget Model: {{ $json.model }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        }
      },
      "id": "f9f30637-ed68-44dd-a5e3-b8c74429fa30",
      "name": "Prompt Engineer Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        40,
        -112
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "={{ $('Example Input').item.json.model }}",
        "options": {}
      },
      "id": "9444e078-7a7d-41bf-89c8-500a7e1a1018",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -16,
        112
      ],
      "credentials": {
        "ollamaApi": {
          "id": "Vy8Zgbfd9ejDpvxs",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "id": "9bb3219a-bed5-4a13-9a00-fb8fbbf9531f",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        112,
        112
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"systemPrompt\": {\n\t\t\"type\": \"string\"\n\t},\n\t\"userIntent\": {\n\t\t\"type\": \"string\"\n\t},\n\t\"keyRequirements\": {\n\t\t\"type\": \"array\",\n\t\t\"items\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t},\n\t\"optimizationNotes\": {\n\t\t\"type\": \"string\"\n\t}\n}"
      },
      "id": "0912b0a9-ee40-412c-8fba-c6419285d726",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        240,
        112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3882980e-0b1d-42aa-b4e3-12aa73865b01",
              "name": "model",
              "value": "={{ $json.model }}",
              "type": "string"
            },
            {
              "id": "3882980e-0b1d-42aa-b4e3-12aa73865b02",
              "name": "userPrompt",
              "value": "={{ $json.userPrompt }}",
              "type": "string"
            },
            {
              "id": "3882980e-0b1d-42aa-b4e3-12aa73865b03",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "3882980e-0b1d-42aa-b4e3-12aa73865b04",
              "name": "systemPrompt",
              "value": "={{ $json.output.systemPrompt }}",
              "type": "string"
            },
            {
              "id": "3882980e-0b1d-42aa-b4e3-12aa73865b05",
              "name": "userIntent",
              "value": "={{ $json.output.userIntent }}",
              "type": "string"
            },
            {
              "id": "3882980e-0b1d-42aa-b4e3-12aa73865b06",
              "name": "keyRequirements",
              "value": "={{ $json.output.keyRequirements }}",
              "type": "string"
            },
            {
              "id": "3882980e-0b1d-42aa-b4e3-12aa73865b07",
              "name": "optimizationNotes",
              "value": "={{ $json.output.optimizationNotes }}",
              "type": "string"
            },
            {
              "id": "3882980e-0b1d-42aa-b4e3-12aa73865b08",
              "name": "success",
              "value": "={{ $json.success }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -208
      ],
      "id": "a33dbd23-fdc0-4478-928a-b802f2f75fd1",
      "name": "Return"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -688,
        -208
      ],
      "id": "69eba165-556c-4b4f-abe5-9dfc3b395ac5",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9340ba64-fb11-4650-8899-dd035ca7a8ce",
              "name": "model",
              "value": "qwen2.5:3b",
              "type": "string"
            },
            {
              "id": "aae1e9a7-ab58-4f82-8284-723eecf307ac",
              "name": "prompt",
              "value": "how to package a python module",
              "type": "string"
            },
            {
              "id": "d534f635-9dcc-4076-aaa3-2fef8c6b6173",
              "name": "context",
              "value": "None",
              "type": "string"
            },
            {
              "id": "92a5aa82-6066-4aa2-ac1f-b3f36dff02e7",
              "name": "sessionId",
              "value": "={{ Math.floor(Math.random() * 1e15) }}",
              "type": "string"
            },
            {
              "id": "3112657f-a870-4d18-af52-d2df8201e0b9",
              "name": "systemPrompt",
              "value": "You are a Prompt Engineer AI. Your job is to create effective system prompts for another AI agent.\n\n## Your Task\n\nTransform the user's request into a clear, optimized system prompt for the target AI model.\n\n## Guidelines\n\n1. **Be Clear and Direct**\n   - Start with a clear role definition for the secondary agent\n   - Use precise, actionable language\n   - Break complex tasks into numbered steps\n   - Make instructions self-contained\n\n2. **Include Essential Context**\n   - Incorporate relevant background from the user's prompt\n   - Include the context information when it's not \"None\"\n   - Don't overwhelm with unnecessary details\n   - Focus on what the secondary agent needs to know\n\n3. **Structure for Success**\n   - Define clear objectives\n   - Specify output format when needed\n   - Set appropriate constraints and boundaries\n   - Include examples when they would be helpful\n   - Use formatting the model handles well\n\n4. **Optimize for Target Model**\n   - Match prompt style to the model's capabilities\n   - Keep instructions focused and concise\n   - Consider the model's strengths and limitations\n   - Use structure that aids comprehension\n\n## What to Provide\n\nFor each prompt transformation, you must generate:\n\n1. **systemPrompt**: The complete system prompt that will be given to the secondary AI agent\n2. **userIntent**: A brief description of what the user is trying to accomplish\n3. **keyRequirements**: A list of the critical requirements for the task (3-5 items)\n4. **optimizationNotes**: Explanation of how you optimized this prompt for the target model\n\n## Important Rules\n\n- Always preserve the user's original intent completely\n- Include context information when it's provided\n- Make prompts self-contained and clear\n- Consider what output format would best serve the user's needs\n- Optimize your language and structure for the target model specified",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        -208
      ],
      "id": "a76f39b2-c7e3-4225-8d1e-4292568894b8",
      "name": "Example Input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5da3db01-8500-4422-832d-d7d1adbea485",
              "name": "success",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -16
      ],
      "id": "a296f3bb-e3ff-4148-a55c-7a346135e9af",
      "name": "Error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "498484c3-b469-43f1-88ef-f3a78d9f018f",
              "name": "success",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -208
      ],
      "id": "eb1e547c-18ba-4211-979a-08ce365db2ae",
      "name": "Success"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -240,
        -112
      ],
      "id": "7943842a-5dc2-43e7-b276-5b9318539dc7",
      "name": "Start"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        672,
        -16
      ],
      "id": "f73d7e4d-155b-43f4-b400-83d1c8d87855",
      "name": "Stop and Error"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Engineer Agent": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Prompt Engineer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Prompt Engineer Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Prompt Engineer Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Example Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Example Input": {
      "main": [
        [
          {
            "node": "Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Prompt Engineer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7031afe8-8c46-4fb3-8b9c-f157f8460b11",
  "meta": {
    "instanceId": "5477294f5d3a06ea145a32cfe84f2a422eac233f472a30914283db00ed658afe"
  },
  "id": "rpZrwxFvLpUiCjfF",
  "tags": []
}