include/workflows/second_prompt_generator_v3.json
{
  "name": "second_prompt_generator_v3",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "sessionId"
            },
            {
              "name": "model_second"
            },
            {
              "name": "system_prompt_second"
            },
            {
              "name": "user_intent"
            },
            {
              "name": "key_requirements"
            },
            {
              "name": "optimization_notes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        16,
        268
      ],
      "id": "4065b423-9c67-4374-a010-dffe596cde7c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User intent: {{ $json.user_intent }}\n\nKey requirements: {{ $json.key_requirements }}\n\nOptimization notes: {{  $json.optimization_notes }}",
        "options": {
          "systemMessage": "={{ $json.system_prompt_second }}"
        }
      },
      "id": "622fe7eb-be1a-4418-831a-8c282fd88a55",
      "name": "Secondary AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        688,
        -80
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "={{ $json.model_second }}",
        "options": {}
      },
      "id": "183d65bd-80f2-4b10-8881-a216fbc086cd",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        696,
        144
      ],
      "credentials": {
        "ollamaApi": {
          "id": "Vy8Zgbfd9ejDpvxs",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "id": "90d3b2eb-5b1d-43c4-9e26-fa444f775aad",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        824,
        144
      ]
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        -72
      ],
      "id": "a70d80b7-c3ea-4064-a6eb-10b168dc2216",
      "name": "Return"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        76
      ],
      "id": "d7782cbb-e1fb-493c-9ceb-9379e2749942",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-0004-0004-0004-000000000004",
              "name": "sessionId",
              "value": "={{ Math.floor(Math.random() * 1e15) }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-0002-0002-0002-000000000002",
              "name": "system_prompt_second",
              "value": "You are a helpful Python programming assistant. Provide clear, concise, and accurate answers about Python programming. When explaining code, break it down step by step. Always follow best practices and modern Python conventions.",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-0001-0001-0001-000000000001",
              "name": "model_second",
              "value": "qwen2.5:3b",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-0003-0003-0003-000000000003",
              "name": "user_intent",
              "value": "How do I package a Python module?",
              "type": "string"
            },
            {
              "id": "15f06851-b82d-4e9e-9a50-689b0f66b51d",
              "name": "key_requirements",
              "value": "Need to package a Python module using well known standards",
              "type": "string"
            },
            {
              "id": "c92d3108-af70-4151-8260-81d107406744",
              "name": "optimization_notes",
              "value": "Use setuptools",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        76
      ],
      "id": "352cac81-0c37-4587-afd0-47858814b2af",
      "name": "Example Input"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-0005-0005-0005-000000000005",
              "name": "success",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        120
      ],
      "id": "c5e0ebd2-71c9-415d-8681-9956fac1f610",
      "name": "Error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1b2c3d4-0006-0006-0006-000000000006",
              "name": "success",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        -72
      ],
      "id": "b0106516-19d5-4824-b2c6-826deb64af12",
      "name": "Success"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        240,
        172
      ],
      "id": "a827bc0c-0c0f-4e14-8681-8f75e4dbc5b6",
      "name": "Start"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "e28a5027-ed46-4147-a495-54e371e1cd03",
              "leftValue": "={{ $json.sessionId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "4a6b68a3-3059-4f0e-bfb8-a5055a016e27",
              "leftValue": "={{ $json.model_second }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "e3d2f13c-b9e7-4bf6-8510-acbcc3835d06",
              "leftValue": "={{ $json.system_prompt_second }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "b16e6fa5-9b20-4891-81eb-38f0e1e57771",
              "leftValue": "={{ $json.user_intent }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "5d8936b9-8514-4fb8-a5c7-864c3f9544ad",
              "leftValue": "={{ $json.key_requirements }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "cb688df7-e3d9-4348-84e3-8238177cb667",
              "leftValue": "={{ $json.optimization_notes }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        464,
        172
      ],
      "id": "8054047c-2790-4bb5-b9ff-b79be8022698",
      "name": "Validate input"
    },
    {
      "parameters": {
        "errorMessage": "Invalid input"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        752,
        320
      ],
      "id": "c8d42b42-957e-4727-ba5e-f1fba99bd24c",
      "name": "Invalid input"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1264,
        120
      ],
      "id": "63608d0f-ee6a-4440-bc7e-c87ec4348cec",
      "name": "Error generating second prompt"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Secondary AI Agent": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Secondary AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Secondary AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Example Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Example Input": {
      "main": [
        [
          {
            "node": "Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error": {
      "main": [
        [
          {
            "node": "Error generating second prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Validate input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate input": {
      "main": [
        [
          {
            "node": "Secondary AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "36cd973e-3772-46b9-b14a-8e9869f2dfd8",
  "meta": {
    "instanceId": "5477294f5d3a06ea145a32cfe84f2a422eac233f472a30914283db00ed658afe"
  },
  "id": "2upP7YeQ0P1Yv93h",
  "tags": [
    {
      "updatedAt": "2025-11-30T21:32:53.614Z",
      "createdAt": "2025-11-30T21:32:53.614Z",
      "id": "6U6qptHGr1glwU73",
      "name": "level2"
    }
  ]
}