include/uploads/workflows/fUkrWF1zOPixDh30.json
{
  "updatedAt": "2025-12-04T19:10:17.893Z",
  "createdAt": "2025-11-30T20:41:52.774Z",
  "id": "fUkrWF1zOPixDh30",
  "name": "first_prompt_generator_v1.3",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "needsFallback": true,
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        480,
        288
      ],
      "id": "d75f8bce-5b18-4178-9c8c-3932999ff4cd",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -32,
        288
      ],
      "id": "de5054d2-05b8-4358-bac7-cabc2181eb16",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "143f2299-7ae9-4fb7-bcae-9140680f1ce9",
              "name": "success",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        192
      ],
      "id": "bdc6437f-d498-40f0-9975-1bba07570f60",
      "name": "Sucess"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "70a27496-3a6f-4a68-ba91-236d83213675",
              "name": "success",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        384
      ],
      "id": "73efac26-99f7-4779-8662-cfb79718ad54",
      "name": "Error"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        288
      ],
      "id": "ddac39bd-0ee8-4e95-a1e1-4ec4efe5371c",
      "name": "Return"
    },
    {
      "parameters": {
        "model": "llama3.2:1b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        416,
        512
      ],
      "id": "7eda6d3f-4920-4a01-8e1b-6b82fb111c1d",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "Vy8Zgbfd9ejDpvxs",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:1b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        544,
        512
      ],
      "id": "6e4283d5-e92a-4980-b24b-13ed115a301a",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "tnDt6bOwmuJLwBLY",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        672,
        512
      ],
      "id": "497be35d-1741-4f39-9ee1-df5e65b8b949",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        192,
        288
      ],
      "id": "42b0b07d-02c1-447c-89cb-06b628f33418",
      "name": "Start1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1104,
        288
      ],
      "id": "dbbd4881-aa70-4334-b228-bf01936f5520",
      "name": "End"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Start1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Sucess",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sucess": {
      "main": [
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error": {
      "main": [
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Start1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "End": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ef087726-8920-46a2-a644-189bc5033604",
  "activeVersionId": null,
  "versionCounter": 16,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-12-04T19:03:09.329Z",
      "createdAt": "2025-12-04T19:03:09.329Z",
      "role": "workflow:owner",
      "workflowId": "fUkrWF1zOPixDh30",
      "projectId": "r5V1iX7YwEQ1HStn",
      "project": {
        "updatedAt": "2025-12-04T19:03:40.860Z",
        "createdAt": "2025-12-04T19:02:58.191Z",
        "id": "r5V1iX7YwEQ1HStn",
        "name": "Iuri Guilherme <aindatenhoconta@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}