include/uploads/workflows/gLckoq7auSgdtOMk.json
{
  "updatedAt": "2025-12-04T18:14:59.194Z",
  "createdAt": "2025-12-03T18:49:07.808Z",
  "id": "gLckoq7auSgdtOMk",
  "name": "persistence_step_v3",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "sessionId"
            },
            {
              "name": "model_embedding"
            },
            {
              "name": "user_prompt"
            },
            {
              "name": "prompt_text"
            },
            {
              "name": "embedding"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -896,
        336
      ],
      "id": "8e786f87-6fa7-407d-8060-a72e27fb8900",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1120,
        144
      ],
      "id": "0dfc22e7-6b7a-4e2c-add7-157929efa164",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07e9b485-c31e-4ee1-943c-46555891f0d0",
              "name": "sessionId",
              "value": "={{ Math.floor(Math.random() * 1e15) }}",
              "type": "string"
            },
            {
              "id": "a246e9fa-e01e-49c8-9e34-1ce6653f6a28",
              "name": "model_embedding",
              "value": "embeddinggemma:300m",
              "type": "string"
            },
            {
              "id": "8ce154ab-4401-4f53-a653-c96f5d5b039c",
              "name": "prompt_text",
              "value": "Packaging a Python module involves several steps to make your code ready for distribution on platforms like PyPI (Python Package Index). Below is a step-by-step guide using `setuptools` as the primary tool for packaging. This process includes creating a setup script, building and installing your package.  ### Step 1: Create a `setup.py` file The `setup.py` file is where you declare various attributes about your Python project. The following example assumes that your module will be installed using pip.  ```python from setuptools import setup, find_packages  # Metadata setup(     name='your_package_name',     version='0.1',     author='Your Name',     description='A brief description of the package',     packages=find_packages(),  # Automatically finds all packages in your project     install_requires=[],       # Packages required by your module (if any)     python_requires='>=3.6',   # Python version requirement ) ```  ### Step 2: Install `setuptools` and `wheel` Ensure you have the necessary tools installed to create a distribution package of your application.  ```bash pip install setuptools wheel ```  ### Step 3: Build your project for distribution You can build your package into an Sdist (source tarball) using:  ```bash python setup.py sdist --formats gztar ```  This command will generate an archive file (e.g., `your_package_name-0.1.tar.gz`) in the directory where you run this command.  ### Step 4: Create a wheel distribution A wheel is a binary distribution package format, which can be installed directly using pip without needing to compile source code.  ```bash python setup.py bdist_wheel --universal ```  This will generate `your_package_name-0.1-py3-none-any.whl` and additional files in the build directory.  ### Step 5: Distribute your package Your wheel file can now be uploaded to PyPI or shared with others via Git repositories, etc.  For uploading to PyPI:  ```bash python -m twine upload dist/* ```  You will need a PyPI account and follow the instructions provided by `twine` for authentication. After completing this step, your package will be available on PyPI for installation using pip.  ### Additional Considerations  - **Dependencies**: If your project relies on other libraries (e.g., requests, pandas), include their names in `install_requires`.    - **Tests**: Consider writing tests with tools like `pytest` to ensure that your code works correctly. You might want to run these during the installation process.  ```python # Adding test dependencies for pip install. setup(     ...     tests_require=['pytest'], ) ```  - **Documentation**: Use Sphinx or other documentation generators to create a README.md and install instructions, which can be very helpful for others who use your package. You can build these using:  ```bash pip install sphinx cd docs make html  # Assuming you have a `conf.py` file in the root of your project ```  This will generate HTML documentation files that can be served online.  By following these steps, you'll be able to create a well-structured and ready-to-distribute Python package.",
              "type": "string"
            },
            {
              "id": "embedding-example",
              "name": "embedding",
              "value": "[-0.03307759016752243,-0.04152332618832588,-0.01641479693353176,-0.021949365735054016,0.036575231701135635,0.005720603745430708,0.02019108086824417,-0.030069919303059578,0.08887574076652527,0.0025843637995421886,0.06329959630966187,-0.0069324662908911705,0.032256118953228,0.013471494428813457,-0.029955098405480385,0.021519441157579422,-0.021671012043952942,0.07788173109292984,-0.009936564601957798,-0.07065596431493759,-0.06065922603011131,0.0007677783141843975,0.022461384534835815,-0.017163801938295364,0.030701633542776108,0.007905498147010803,-0.0007094661123119295,0.007215912453830242,-0.08592738211154938,-0.04909636452794075,-0.00979225430637598,0.06982538104057312,-0.00507406797260046,-0.0185224711894989,0.025736026465892792,0.03308674693107605,-0.010175125673413277,0.0016228251624852419,-0.01863318309187889,-0.07051190733909607,0.01787666045129299,0.01347405556589365,0.007811480201780796,0.027465637773275375,-0.07058312743902206,-0.07322517782449722,-0.034908413887023926,-0.017464620992541313,-0.02547377161681652,-0.029641570523381233,0.001097848522476852,0.02813543565571308,0.03028436191380024,0.020779982209205627,-0.02873816341161728,-0.01875126361846924,-0.04945403337478638,-0.03141607716679573,-0.0003425259201321751,0.009973539039492607,-0.05593300983309746,0.045155927538871765,-0.00920482724905014,-0.010869150049984455,0.006775964517146349,-0.015628162771463394,-0.014900383539497852,0.021479135379195213,0.03991130739450455,0.06923516094684601,0.0242963545024395,-0.02483093924820423,-0.0270833782851696,-0.01340822409838438,0.05655501410365105,0.052097856998443604,-0.04394809529185295,0.006252963095903397,-0.009668282233178616,0.07317587733268738,0.0221507977694273,-0.04994165897369385,-0.08759533613920212,-0.03893618658185005,0.0484374575316906,0.05640478432178497,0.018696051090955734,-0.03709004074335098,0.05175578594207764,-0.03196340799331665,-0.011729045771062374,-0.05766022205352783,0.00842189695686102,-0.013105201534926891,-0.00503679271787405,-0.007568554952740669,-0.011375528760254383,-0.006238505709916353,0.030779225751757622,-0.014616942964494228,0.0987987071275711,-0.001709119649603963,-0.015590142458677292,-0.012037773616611958,-0.0052534486167132854,0.006961004342883825,0.04960460960865021,0.016819359734654427,-0.018654650077223778,-0.00930558331310749,-0.08766661584377289,0.0017089416505768895,-0.001973953330889344,-0.052325330674648285,-0.04024311155080795,-0.049240417778491974,-0.008103394880890846,0.004978998098522425,-0.03131769597530365,0.01894514448940754,-0.02110729180276394,-0.041536442935466766,-0.004073108546435833,-0.02568335086107254,0.006918861996382475,0.02772442251443863,0.022923195734620094,-0.028139056637883186,-0.03024613857269287,-0.029983866959810257,0.051955949515104294,0.02980080246925354,-0.016169752925634384,0.019129283726215363,-0.038644939661026,0.02098684199154377,0.03338994085788727,-0.0664205327630043,0.0018930004443973303,-0.03583506867289543,0.0777558833360672,-0.11189205199480057,0.0474977046251297,0.02566797286272049,-0.044585179537534714,0.0001712996163405478,-0.0430595763027668,-0.0007921911892481148,-0.03747667372226715,0.0405384823679924,0.001549187465570867,0.0632007047533989,0.029578929767012596,-0.00951278768479824,0.04442903399467468,0.011331054382026196,0.03736499324440956,0.0016924480441957712,0.004319202620536089,-0.03468003496527672,-0.01139061525464058,-0.018064036965370178,-0.0319022499024868,0.04911356046795845,0.013905439525842667,0.051392894238233566,-0.02440592460334301,0.04131090268492699,-0.05384591966867447,-0.020034490153193474,-0.023950189352035522,0.033757470548152924,0.029048483818769455,-0.005553642753511667,0.05260298401117325,0.029662052169442177,-0.02208677865564823,0.029850395396351814,-0.006298609543591738,0.05997278168797493,0.02565396949648857,-0.02265150658786297,0.04717632010579109,0.04052882269024849,0.0012936863349750638,0.009160259738564491,-0.033763449639081955,0.03623204305768013,0.049779076129198074,0.03591838851571083,0.021128909662365913,0.04580697789788246,-0.05573910474777222,-0.02736767940223217,-0.014298120513558388,0.00429665157571435,0.020464491099119186,0.01805933378636837,-0.03297410532832146,0.06372490525245667,-0.0137562844902277,-0.025805803015828133,0.0002263798232888803,0.029938356950879097,0.022211065515875816,-0.01082463189959526,-0.013879011385142803,-0.02593432366847992,-0.002380126155912876,0.03352243825793266,-0.03079921565949917,-0.006406506523489952,0.04613102599978447,-0.043924730271101,0.03847948834300041,-0.03997012972831726,-0.05065157264471054,0.039927221834659576,-0.015128809958696365,-0.02742875926196575,-0.045367274433374405,-0.01741444319486618,0.013748067431151867,0.0056276218965649605,-0.032407864928245544,-0.03626186400651932,-0.02371923439204693,-0.013988800346851349,-0.025179587304592133,-0.0060932752676308155,-0.0009451720979996026,0.004228484816849232,0.014906950294971466,-0.018077971413731575,-0.015032866038382053,0.010384856723248959,-0.025667203590273857,-0.010711454786360264,-0.06842506676912308,0.04232264310121536,-0.0055373432114720345,-0.02366754226386547,-0.038089510053396225,0.06255527585744858,-0.02840941585600376,-0.05820435658097267,0.02136920392513275,-0.021725568920373917,-0.036038000136613846,0.03851864114403725,0.0322236530482769,0.008877857588231564,0.000798683671746403,-0.02729007974267006,-0.04055769741535187,-0.04528423398733139,-0.036415986716747284,0.014510455541312695,0.030642220750451088,0.02335401438176632,0.01041396614164114,0.015031760558485985,0.0341489240527153,0.03152312710881233,-0.03648030385375023,0.03456830233335495,-0.02369680255651474,-0.056742873042821884,-0.030777737498283386,0.0030418196693062782,0.01769050769507885,-0.013437734916806221,0.028502941131591797,0.04215547814965248,0.014315993525087833,-0.007973603904247284,-0.00461483933031559,0.06907700002193451,0.03729197755455971,0.028009118512272835,-0.04324081912636757,-0.019414938986301422,0.05529851093888283,-0.035098616033792496,0.026851199567317963,-0.012771262787282467,-0.038395918905735016,-0.10334816575050354,0.022422658279538155,-0.036130450665950775,-0.026769177988171577,-0.04700956121087074,0.014916805550456047,0.03175815939903259,-0.027274377644062042,0.02044832892715931,-0.032769665122032166,-0.02356148697435856,0.01218485925346613,0.04469180107116699,0.09823722392320633,-0.060964860022068024,0.02483728900551796,-0.007974457927048206,-0.002804677002131939,0.01846972666680813,-0.07002360373735428,-0.06282830238342285,-0.003291705157607794,-0.04785095155239105,0.0017519347602501512,0.0030122085008770227,-0.00723406532779336,0.06464672088623047,0.028657913208007812,0.02704434096813202,-0.02336893044412136,0.006359891500324011,0.05456085875630379,0.0038762299809604883,-0.0613454133272171,0.04463125765323639,0.07174832373857498,-0.03339317440986633,-0.019864756613969803,-0.022340448573231697,0.0009987426456063986,0.0013955842005088925,-0.05632338300347328,0.0020285453647375107,-0.014318780042231083,-0.04954474791884422,0.03171999007463455,-0.0008136079995892942,-0.03548092022538185,-0.01257847249507904,0.004510617349296808,0.03937048465013504,0.043519146740436554,0.003584932768717408,-0.02999734878540039,-0.02781275101006031,0.05725845322012901,-0.003801654325798154,-0.01997767947614193,0.03977923467755318,0.014775857329368591,-0.04413805156946182,0.014262309297919273,-0.022722043097019196,0.010351010598242283,0.03362138196825981,0.04944426566362381,0.04369742050766945,-0.08830873668193817,-0.02020077221095562,0.04862184822559357,0.0009071182576008141,0.040392737835645676,0.0544256716966629,-0.04623179882764816,-0.025697967037558556,0.004763455595821142,0.004413054324686527,0.029499255120754242,0.017959438264369965,-0.044296521693468094,0.03285117819905281,-0.01927192136645317,0.007866940461099148,-0.018316030502319336,-0.00659619877114892,0.04132268577814102,0.008509540930390358,0.005571289453655481,-0.018987515941262245,-0.005297884810715914,-0.03935055807232857,0.003909328952431679,0.07454163581132889,-0.02403043769299984,-0.06283560395240784,-0.029596833512187004,0.003079864662140608,0.03968341648578644,0.03475887328386307,-0.05365465208888054,0.08654607832431793,0.0698830857872963,0.009291790425777435,0.019832046702504158,-0.0003853758389595896,0.010262529365718365,-0.012592745013535023,0.008073205128312111,0.008909208700060844,0.0579729899764061,0.012033763341605663,-0.013624979183077812,-0.010993413627147675,-0.007797243073582649,-0.017402615398168564,-0.07928094267845154,0.022334426641464233,-0.06393498182296753,-0.014603029005229473,0.021718116477131844,0.039624400436878204,-0.009192356839776039,0.03571198135614395,0.07178075611591339,-0.038035135716199875,0.05550326034426689,-0.0480157844722271,0.014107047580182552,0.008909497410058975,-0.019589921459555626,0.08225343376398087,-0.020518997684121132,0.034753262996673584,-0.007136037107557058,0.006347343325614929,0.016197795048356056,0.011883469298481941,-0.0017420569201931357,0.033587198704481125,0.0006025894545018673,-0.03911624848842621,0.007477537728846073,0.03616632893681526,-0.038273755460977554,-0.009685833007097244,0.0014374955790117383,-0.042911332100629807,-0.024217253550887108,0.027218518778681755,0.022678876295685768,-0.021897098049521446,-0.013694079592823982,0.037133630365133286,-0.022853372618556023,0.003413149155676365,0.026827316731214523,-0.05551549792289734,0.005091580096632242,0.026440566405653954,0.004579456057399511,-0.023064319044351578,0.058946575969457626,0.07853041589260101,-0.014207671396434307,-0.07745526731014252,-0.027887215837836266,-0.051956892013549805,-0.0318029411137104,-0.028740940615534782,-0.04356452822685242,0.028849422931671143,-0.0037823934108018875,-0.024751024320721626,-0.028757615014910698,-0.010731307789683342,-0.03947998583316803,-0.029167653992772102,0.02833053097128868,0.0773807168006897,0.03274258226156235,-0.01778719760477543,-0.00021073163952678442,0.024791833013296127,-0.001319994917139411,0.007590045686811209,-0.027323003858327866,0.008552362211048603,0.01928158663213253,0.014012887142598629,0.022807912901043892,-0.009252084419131279,-0.009770182892680168,-0.02523670345544815,0.008856778033077717,0.027808383107185364,0.0373651348054409,-0.001867407583631575,0.00679526524618268,-0.017018603160977364,0.004849795717746019,0.0006249530124478042,0.04220396652817726,-0.041476283222436905,0.02542685717344284,-0.007720156107097864,0.022513041272759438,0.04470130428671837,0.020457057282328606,-0.004297381266951561,-0.03686278313398361,-0.04352295398712158,0.02773546613752842,0.03287190943956375,0.0580972358584404,0.014072119258344173,0.0373084582388401,0.04886745288968086,0.0003959597088396549,0.016391122713685036,0.0671563521027565,-0.004913129843771458,-0.025000302121043205,-0.013192964717745781,0.03073277324438095,0.004434884060174227,-0.030592702329158783,0.0985444188117981,0.057770732790231705,-0.020586445927619934,0.03424900770187378,0.05719238892197609,-0.0479232482612133,-0.02943536825478077,-0.023803099989891052,0.05265039578080177,-0.018469810485839844,0.052363939583301544,-0.07819758355617523,0.03518429771065712,-0.027648692950606346,0.04173111543059349,-0.006173487287014723,0.08975238353013992,-0.020559929311275482,-0.010407793335616589,-0.010342329740524292,-0.03462298959493637,0.030830858275294304,0.021265795454382896,-0.03966230899095535,-0.05466634780168533,0.027276454493403435,-0.06814690679311752,0.0289837084710598,-0.0400872528553009,-0.028684968128800392,0.04178439825773239,-0.004310821648687124,0.035318490117788315,0.003576007205992937,-0.00007520004146499559,-0.04657813161611557,0.01687702350318432,0.0443197600543499,0.007028297521173954,0.04576357454061508,-0.029475590214133263,-0.010823997668921947,0.047713398933410645,0.0084694754332304,0.008737226016819477,-0.009235118515789509,-0.004209119826555252,0.0004982896498404443,-0.04644382745027542,-0.0627540796995163,-0.002377330558374524,-0.022979404777288437,0.016537152230739594,0.010051144286990166,-0.036313995718955994,-0.03780306875705719,-0.029594719409942627,0.03227871656417847,-0.037083420902490616,0.06803711503744125,-0.06209241971373558,0.013208097778260708,0.007949918508529663,0.009307160042226315,-0.009275796823203564,-0.004981468431651592,0.03408699482679367,-0.024865662679076195,-0.03983629494905472,0.06023517996072769,-0.04550851881504059,0.019930453971028328,0.03716488555073738,-0.0012324046110734344,0.01823526620864868,-0.001962033798918128,-0.03354017063975334,0.06829804182052612,-0.027267374098300934,-0.032473888248205185,-0.001336088520474732,-0.0318024717271328,0.04197843372821808,-0.030741911381483078,-0.044058818370103836,-0.0025750405620783567,0.007208780851215124,-0.005354530178010464,-0.03695233166217804,0.024282047525048256,0.03773701563477516,0.0691237673163414,0.05489320307970047,-0.03667886182665825,0.02799377031624317,-0.025772085413336754,0.0872931182384491,0.05380915850400925,0.05364041030406952,0.000554270576685667,0.031229132786393166,-0.01484422292560339,-0.10040522366762161,0.02368330769240856,-0.10890839248895645,-0.013400046154856682,-0.004752468783408403,0.020593415945768356,0.0449252724647522,0.05805673450231552,0.0424814336001873,-0.030646903440356255,0.011238280683755875,-0.014710837975144386,-0.012469383887946606,-0.056270647794008255,0.00477159209549427,0.06802836805582047,-0.00687289796769619,0.03407259285449982,0.018303753808140755,-0.06477067619562149,-0.02477431297302246,-0.049782540649175644,-0.016552872955799103,0.0009977685986086726,0.013156924396753311,0.006871853955090046,0.02751711755990982,-0.0063478355295956135,0.0471382811665535,-0.013510479591786861,-0.040788501501083374,-0.05496517941355705,-0.00011877554788952693,-0.013028313405811787,0.006397581193596125,0.02104940079152584,-0.019971301779150963,-0.03677034378051758,-0.010158251971006393,0.011204129084944725,0.003472081385552883,-0.0061750393360853195,-0.04893505200743675,-0.006219138856977224,0.022784322500228882,-0.012092890217900276,0.02818286418914795,-0.0115608349442482,-0.00894754845649004,-0.018974706530570984,-0.067528136074543,0.018888482823967934,0.012785700149834156,-0.009079092182219028,0.025731706991791725,-0.02036181651055813,0.0027231667190790176,-0.011989754624664783,-0.07498730719089508,0.036347679793834686,0.01142900437116623,-0.009815381839871407,-0.00959345418959856,0.005537426099181175,-0.0032466528937220573,0.03219260275363922,0.057060714811086655,0.032820217311382294,0.04368347302079201,0.031388137489557266,0.012187084183096886,0.009686057455837727,0.023691821843385696,0.026751404628157616,0.022522063925862312,-0.010610328055918217,0.06071290746331215,0.025340627878904343,-0.016616713255643845,-0.036077022552490234,-0.03418957442045212,-0.04285438358783722,-0.00822195690125227,-0.03751964867115021,0.021181752905249596,0.058297161012887955,0.1105249673128128,0.0016804906772449613,-0.00817584153264761,-0.06113480404019356,0.011855819262564182,-0.04098626971244812,0.047947581857442856,0.10269837826490402,0.01776427961885929,-0.022237000986933708,-0.006160058546811342,0.03832047060132027,-0.04476100951433182,-0.03713834658265114,-0.019035905599594116,0.07566071301698685,0.004884068388491869,-0.031777482479810715,-0.04036381468176842,-0.002035318873822689,0.0019507217220962048,-0.008474237285554409,-0.025702940300107002,0.07115603983402252,0.022922474890947342,0.015059929341077805,-0.0012854906963184476,0.01802290417253971,0.08482442051172256,0.0071534025482833385,-0.04090794920921326,-0.030571365728974342,0.03922329843044281,-0.04571262001991272,-0.02496230974793434,-0.042208779603242874,0.06476487964391708,-0.021716197952628136,-0.003877500770613551,0.030417079105973244,-0.03388719633221626,-0.0034876540303230286,-0.009827224537730217,-0.040526729077100754,-0.010121176950633526,0.06310352683067322,0.06278545409440994,-0.06436614692211151,-0.021215254440903664,-0.0025580895598977804,-0.02058330550789833,0.015514753758907318,-0.01880807988345623,-0.040955863893032074,-0.07850168645381927,0.051559928804636,0.0030486148316413164,-0.07161146402359009,-0.022804994136095047,0.05183236300945282,-0.024438314139842987,0.024261781945824623,-0.03322400152683258,-0.0015938690630719066,0.013017691671848297,0.01545768417418003,0.010590462945401669]",
              "type": "string"
            },
            {
              "id": "c84f497f-ebab-4a0d-ac35-4aa3158960c7",
              "name": "user_prompt",
              "value": "How to package a Python module",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        144
      ],
      "id": "54e710db-ccae-4cf0-81b0-444509856b8d",
      "name": "Example Input"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -672,
        240
      ],
      "id": "e321d35a-eb69-4161-959b-8e6f1955170b",
      "name": "Start"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b539cff7-72ad-4b95-8890-6a91c273dc3c",
              "name": "success",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        144
      ],
      "id": "d61d60f7-6be1-4078-95e5-f1e7a859587b",
      "name": "Success"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b539cff7-72ad-4b95-8890-6a91c273dc3c",
              "name": "success",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        336
      ],
      "id": "bf41649a-3261-4e4d-ac83-64ab9d5f9e7c",
      "name": "Error"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1568,
        144
      ],
      "id": "f86feeac-6d81-4446-84e2-9dc02c1c9156",
      "name": "End"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        144
      ],
      "id": "d94fb41b-abf5-46a5-a86b-5d14a5d84111",
      "name": "Return"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1568,
        336
      ],
      "id": "9060db22-81c3-41dc-bde6-558f58f6da28",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "metadata-set",
              "name": "metadata",
              "value": "={{ { sessionId: $json.sessionId, embeddingModel: $json.model_embedding, original_prompt: $json.user_prompt} }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        240
      ],
      "id": "0e102768-2f59-4770-a47b-9331c8b72956",
      "name": "Prepare for Database"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "prompts",
          "mode": "list",
          "cachedResultName": "prompts"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt_text": "={{ $json.prompt_text }}",
            "embedding": "={{ $json.embedding }}",
            "metadata": "={{ $json.metadata }}",
            "parent_id": "={{ $json.parent_id }}",
            "updated_at": "2025-12-03T16:20:03",
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "parent_id",
              "displayName": "parent_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "prompt_text",
              "displayName": "prompt_text",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "embedding",
              "displayName": "embedding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "effectiveness_score",
              "displayName": "effectiveness_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1120,
        240
      ],
      "id": "1f7135bd-9d8d-4569-a259-93ccb6fb70cb",
      "name": "Insert or Update Prompts",
      "credentials": {
        "postgres": {
          "id": "HmKvCZDpgC3dwbJl",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "2117b69b-3e49-4868-a5c6-84fe5f6132ce",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        240
      ],
      "id": "d4fa7114-04e4-4da6-af3f-fd6f0b559945",
      "name": "Assert id"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f648b3bb-7680-45a6-9056-61ac704f2dd7",
              "leftValue": "={{ $json.parent_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        240
      ],
      "id": "30b0c1ab-d42f-4f54-8c3f-fd021ee50528",
      "name": "Assert parent_id"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        896,
        312
      ],
      "id": "5ad94d1c-51e0-4c31-a354-0b49d64cf5c0",
      "name": "Merge id"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        224,
        312
      ],
      "id": "e50ea7d6-5d95-4989-9c05-193a685bf901",
      "name": "Merge parent_id"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import uuid\nreturn {\"parent_id\": str(uuid.uuid5(uuid.UUID(\"00000000-0000-0000-0000-000000000000\"), \"Genesis prompt - the root of all prompts\"))}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        384
      ],
      "id": "6631298d-aa94-4475-abb3-a1392fe88fe4",
      "name": "Generate genesis uuid5"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import uuid\nreturn {\"id\": str(uuid.uuid5(uuid.UUID(_input.first().json.parent_id), _input.first().json.prompt_text))}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        384
      ],
      "id": "ca8b73fd-1246-46ed-a919-42171d291dc4",
      "name": "Generate uuid5 from parent_id"
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Example Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Example Input": {
      "main": [
        [
          {
            "node": "Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Prepare for Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Database": {
      "main": [
        [
          {
            "node": "Assert parent_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success": {
      "main": [
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "End": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or Update Prompts": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assert id": {
      "main": [
        [
          {
            "node": "Insert or Update Prompts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate uuid5 from parent_id",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assert parent_id": {
      "main": [
        [
          {
            "node": "Assert id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate genesis uuid5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge parent_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge id": {
      "main": [
        [
          {
            "node": "Insert or Update Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge parent_id": {
      "main": [
        [
          {
            "node": "Assert id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate genesis uuid5": {
      "main": [
        [
          {
            "node": "Merge parent_id",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Generate uuid5 from parent_id": {
      "main": [
        [
          {
            "node": "Merge id",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5477294f5d3a06ea145a32cfe84f2a422eac233f472a30914283db00ed658afe"
  },
  "pinData": {},
  "versionId": "dcee783e-0373-45fd-ac32-cc94ddabd625",
  "activeVersionId": null,
  "versionCounter": 27,
  "triggerCount": 0,
  "tags": [
    {
      "updatedAt": "2025-11-30T21:32:53.614Z",
      "createdAt": "2025-11-30T21:32:53.614Z",
      "id": "6U6qptHGr1glwU73",
      "name": "level2"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-12-04T17:52:54.896Z",
      "createdAt": "2025-12-04T17:52:54.896Z",
      "role": "workflow:owner",
      "workflowId": "gLckoq7auSgdtOMk",
      "projectId": "G7MwyqNqY0Rnoh0q",
      "project": {
        "updatedAt": "2025-12-04T17:52:47.599Z",
        "createdAt": "2025-12-04T17:52:47.599Z",
        "id": "G7MwyqNqY0Rnoh0q",
        "name": "Unnamed Project",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}