include/uploads/workflows/Wo1Jfcqmx61A4TRH.json
{
  "updatedAt": "2025-12-03T19:32:51.863Z",
  "createdAt": "2025-12-03T19:18:07.880Z",
  "id": "Wo1Jfcqmx61A4TRH",
  "name": "persistence_step_v1",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        224,
        112
      ],
      "id": "9347c17a-01bf-4d7c-a725-fc7eb3e39939",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -80
      ],
      "id": "5887dc39-f1b0-47d7-a309-3741249df90e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ce154ab-4401-4f53-a653-c96f5d5b039c",
              "name": "prompt",
              "value": "Packaging a Python module involves several steps to make your code ready for distribution on platforms like PyPI (Python Package Index). Below is a step-by-step guide using `setuptools` as the primary tool for packaging. This process includes creating a setup script, building and installing your package.  ### Step 1: Create a `setup.py` file The `setup.py` file is where you declare various attributes about your Python project. The following example assumes that your module will be installed using pip.  ```python from setuptools import setup, find_packages  # Metadata setup(     name='your_package_name',     version='0.1',     author='Your Name',     description='A brief description of the package',     packages=find_packages(),  # Automatically finds all packages in your project     install_requires=[],       # Packages required by your module (if any)     python_requires='>=3.6',   # Python version requirement ) ```  ### Step 2: Install `setuptools` and `wheel` Ensure you have the necessary tools installed to create a distribution package of your application.  ```bash pip install setuptools wheel ```  ### Step 3: Build your project for distribution You can build your package into an Sdist (source tarball) using:  ```bash python setup.py sdist --formats gztar ```  This command will generate an archive file (e.g., `your_package_name-0.1.tar.gz`) in the directory where you run this command.  ### Step 4: Create a wheel distribution A wheel is a binary distribution package format, which can be installed directly using pip without needing to compile source code.  ```bash python setup.py bdist_wheel --universal ```  This will generate `your_package_name-0.1-py3-none-any.whl` and additional files in the build directory.  ### Step 5: Distribute your package Your wheel file can now be uploaded to PyPI or shared with others via Git repositories, etc.  For uploading to PyPI:  ```bash python -m twine upload dist/* ```  You will need a PyPI account and follow the instructions provided by `twine` for authentication. After completing this step, your package will be available on PyPI for installation using pip.  ### Additional Considerations  - **Dependencies**: If your project relies on other libraries (e.g., requests, pandas), include their names in `install_requires`.    - **Tests**: Consider writing tests with tools like `pytest` to ensure that your code works correctly. You might want to run these during the installation process.  ```python # Adding test dependencies for pip install. setup(     ...     tests_require=['pytest'], ) ```  - **Documentation**: Use Sphinx or other documentation generators to create a README.md and install instructions, which can be very helpful for others who use your package. You can build these using:  ```bash pip install sphinx cd docs make html  # Assuming you have a `conf.py` file in the root of your project ```  This will generate HTML documentation files that can be served online.  By following these steps, you'll be able to create a well-structured and ready-to-distribute Python package.",
              "type": "string"
            },
            {
              "id": "a246e9fa-e01e-49c8-9e34-1ce6653f6a28",
              "name": "model",
              "value": "embeddinggemma:300m",
              "type": "string"
            },
            {
              "id": "07e9b485-c31e-4ee1-943c-46555891f0d0",
              "name": "sessionId",
              "value": "={{ Math.floor(Math.random() * 1e15) }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -80
      ],
      "id": "be5b0b6d-c05c-4fc3-bbb5-ffcdfffb0054",
      "name": "Example input"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        448,
        16
      ],
      "id": "228dabde-5de9-4815-88a1-bb45a96dd8d2",
      "name": "Start"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b539cff7-72ad-4b95-8890-6a91c273dc3c",
              "name": "success",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        -80
      ],
      "id": "74299a1f-3a78-4cad-bff3-6ff1b21efcc6",
      "name": "Success"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b539cff7-72ad-4b95-8890-6a91c273dc3c",
              "name": "success",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        112
      ],
      "id": "579cb650-6a76-44ce-b062-5ece9f271459",
      "name": "Error"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1120,
        -80
      ],
      "id": "059b846d-cd96-4ade-b9b0-af40d8afbefc",
      "name": "End"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        -80
      ],
      "id": "ddee7418-c90c-4541-b468-722aef26310d",
      "name": "Return"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1120,
        112
      ],
      "id": "1ca0d802-b3d8-46a0-bc24-11d66e41cabe",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "prompts",
          "mode": "list",
          "cachedResultName": "prompts"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "updated_at": "2025-12-03T15:38:22"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "parent_id",
              "displayName": "parent_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "prompt_text",
              "displayName": "prompt_text",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "embedding",
              "displayName": "embedding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "effectiveness_score",
              "displayName": "effectiveness_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        16
      ],
      "id": "15efca4c-9ad6-4373-abff-34eac9e27e5e",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "HmKvCZDpgC3dwbJl",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Example input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Example input": {
      "main": [
        [
          {
            "node": "Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success": {
      "main": [
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "End": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "58e56559-dbe0-4cee-be19-9a93d9199ce6",
  "activeVersionId": null,
  "versionCounter": 7,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-12-04T19:03:09.329Z",
      "createdAt": "2025-12-04T19:03:09.329Z",
      "role": "workflow:owner",
      "workflowId": "Wo1Jfcqmx61A4TRH",
      "projectId": "r5V1iX7YwEQ1HStn",
      "project": {
        "updatedAt": "2025-12-04T19:03:40.860Z",
        "createdAt": "2025-12-04T19:02:58.191Z",
        "id": "r5V1iX7YwEQ1HStn",
        "name": "Iuri Guilherme <aindatenhoconta@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}